.meals {
    max-width: 80rem;
    top: 20%;
    left: 20%;
    position: fixed;
    animation: meals-appear 1s ease-out forwards;
  }

  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .productGridContainer {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  .productGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
  }
  .productGrid li {
    flex: 1 0 calc(18% - 20px); /* Adjust as needed based on desired number of columns */
  }

  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }